.app {
  text-align: center;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  margin: 2rem;
}

.app-content {
  max-width: 960px;
  margin: 0 auto;
}

.app-footer {
  display: grid;
  place-content: center;
  padding: 1.5rem;
  background-color: var(--color-1);
  color: var(--color-2);
}

.content-section {
  display: flex;
  margin-bottom: 3rem;
  flex-direction: column;

  @include tablet {
    flex-direction: row;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  &__item {
    flex: 1 1 50%;
    padding: 1rem;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  &__description-content {
    text-align: left;
    display: grid;
    align-content: center;
    grid-gap: 0.5rem;
  }
}

.button {
  border: none;
  padding: 0.5rem;
  background-color: var(--color-3);
  color: var(--color-2);
  transition: background-color 250ms linear;
  border-radius: 5px;

  &:hover {
    background-color: var(--color-5);
  }
}
